 <Ui xmlns="http://www.blizzard.com/wow/ui/"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ../../FrameXML/UI.xsd">

	<Script file="Settings.lua"/>

	<Button name="WQT_SettingCategoryTemplate" mixin="WQT_SettingsCategoryMixin" virtual="true">
		<Size y="40"/>	
		<Layers>
			<Layer level="BORDER">
				<Texture parentKey="BGLeft" atlas="PetJournal-BattleSlotTitle-Left" useAtlasSize="true" desaturated="true">
					<Anchors>
						<Anchor point="TOPLEFT" x="3"/>
					</Anchors>
					<Color r="0.75" g="0.75" b="0.75"/>
				</Texture>
				<Texture parentKey="BGRight" atlas="PetJournal-BattleSlotTitle-Right" useAtlasSize="true" desaturated="true">
					<Anchors>
						<Anchor point="TOPRIGHT" x="0"/>
					</Anchors>
					<Color r="0.75" g="0.75" b="0.75"/>
				</Texture>
				<Texture parentKey="BGMiddle" atlas="_BattleSlotTitle-Mid" horizTile="true" desaturated="true">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.BGLeft" relativePoint="TOPRIGHT"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.BGRight" relativePoint="BOTTOMLEFT"/>
					</Anchors>
					<Color r="0.75" g="0.75" b="0.75"/>
				</Texture>
			</Layer>
			<Layer level="BACKGROUND">
				<Texture parentKey="BGLeft" atlas="_BattleSlotTitle-BG" horizTile="true" desaturated="true">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.BGLeft" x="30" y="-7"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.BGRight" x="-30" y="7"/>
					</Anchors>
					<Color r="0.75" g="0.75" b="0.75"/>
				</Texture>
			</Layer>
			
			<Layer level="ARTWORK">
				<FontString parentKey="Title" inherits="GameFontHighlight" maxLines="1" justifyH="CENTER" text="testing">
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.BGMiddle" x="15" y="1"/>
						<Anchor point="RIGHT" relativeKey="$parent.BGMiddle" x="-15" y="1"/>
					</Anchors>
				</FontString>
				<Texture parentKey="ExpandIcon" atlas="friendslist-categorybutton-arrow-right" useAtlasSize="true" desaturated="true">
					<Anchors>
						<Anchor point="CENTER" relativeKey="$parent.BGMiddle" relativePoint="LEFT" x="10" y="-1"/>
					</Anchors>
				</Texture>
				
			</Layer>
			
			<Layer level="HIGHLIGHT">
				<Texture parentKey="Highlight" atlas="groupfinder-highlightbar-blue" alphaMode="ADD">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.BGLeft" x="0" y="-1"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.BGRight" x="-30" y="8"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
		<Scripts>
			<OnClick>
				self:SetExpanded(not self.isExpanded);
				PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
			</OnClick>
		</Scripts>
	</Button>
	
	<Button name="WQT_SettingSubCategoryTemplate" mixin="WQT_SettingsCategoryMixin" virtual="true">
		<Size y="30"/>	
		<KeyValues>
			<KeyValue key="staticLabelFont" value="true" type="boolean"/>
		</KeyValues>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="Background" file="Interface\ACHIEVEMENTFRAME\UI-Achievement-RecentHeader" desaturated="true" alpha="0.75">
					<Anchors>
						<Anchor point="TOPLEFT" x="15" y="-5"/>
						<Anchor point="BOTTOMRIGHT" x="-20" y="5"/>
					</Anchors>
					<TexCoords bottom="0.75"/>
				</Texture>
			</Layer>
			<Layer level="ARTWORK">
				<FontString parentKey="Title" inherits="GameFontHighlight" maxLines="1" justifyH="CENTER">
					<Anchors>
						<Anchor point="LEFT" x="15" y="2"/>
						<Anchor point="RIGHT" x="-15" y="2"/>
					</Anchors>
				</FontString>
				<Texture parentKey="ExpandIcon" atlas="friendslist-categorybutton-arrow-right" useAtlasSize="true" desaturated="true">
					<Anchors>
						<Anchor point="CENTER" relativePoint="LEFT" x="40" y="-1"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="HIGHLIGHT">
				<Texture parentKey="Highlight" atlas="groupfinder-highlightbar-blue" alphaMode="ADD" alpha="0.5"> <!--  -->
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.BGLeft" x="30" y="-7"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.BGRight" x="-30" y="8"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
		<Scripts>
			<OnClick>
				self:SetExpanded(not self.isExpanded);
				PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
			</OnClick>
		</Scripts>
	</Button>
	
	<Frame name="WQT_SettingsQuestListPreview" mixin="WQT_SettingsQuestListMixin" hidden="true">
		<Size y="36"/>	
		<Frames>
			<Button parentKey="Preview" inherits="WQT_QuestTemplate" enableMouse="false" hidden="false">
				<Anchors>
					<Anchor point="LEFT" x="7"/>
				</Anchors>
				<!-- Disable all functionality. It's only a preview -->
				<Scripts>
					<OnClick />
					<OnLoad />
					<OnUpdate />
					<OnEnter />
					<OnLeave />
				</Scripts>
			</Button>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingCheckboxTemplate" mixin="WQT_SettingsCheckboxMixin" virtual="true">
		<Size y="30"/>	
		<Frames>
			<CheckButton parentKey="CheckBox" inherits="UICheckButtonTemplate">
				<Size x="25" y="25"/>
				<HitRectInsets right="-75"/>
				<Anchors>
					<Anchor point="LEFT" x="25"/>
				</Anchors>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
					<OnClick>
						self:GetParent():OnValueChanged(self:GetChecked(), true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>
				</Scripts>
			</CheckButton>
			<Frame parentKey="DisabledOverlay">
				<HitRectInsets right="-75"/>
				<Anchors>
					<Anchor point="TOPLEFT" relativeKey="$parent.CheckBox"/>
					<Anchor point="BOTTOMRIGHT" relativeKey="$parent.CheckBox"/>
				</Anchors>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
				</Scripts>
			</Frame>
		</Frames>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.CheckBox" relativePoint="RIGHT" x="5"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>
	
	<Frame name="WQT_SettingSliderTemplate" mixin="WQT_SettingsSliderMixin" virtual="true">
		<Size y="47"/>	
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="TOPLEFT" x="30" y="-7"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<Slider parentKey="Slider" inherits="UISliderTemplate">
				<Size y="17"/>
				<Anchors>
					<Anchor point="BOTTOMLEFT" x="30" y="5"/>
					<Anchor point="RIGHT" x="-75"/>
				</Anchors>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
					<OnValueChanged>
						self:GetParent():OnValueChanged(value, userInput);
					</OnValueChanged>
				</Scripts>
			</Slider>
			<EditBox parentKey="TextBox" inherits="InputBoxTemplate" autoFocus="false">
				<Size x="30" y="20"/>
				<HitRectInsets left="-10"/>
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.Slider" relativePoint="RIGHT" x="10" y="1"/>
					<Anchor point="RIGHT" x="-35" y="1"/>
				</Anchors>
				<FontString inherits="NumberFont_Shadow_Small"/>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self:GetParent().Slider);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
					<OnEnterPressed>
						self:ClearFocus();
					</OnEnterPressed>
					<OnEditFocusLost>
						self:GetParent():OnValueChanged(self:GetText(), true);
					</OnEditFocusLost>
				</Scripts>
			</EditBox>
		</Frames>
		
	</Frame>
	
	<Frame name="WQT_SettingSubTitleTemplate" mixin="WQT_SettingsBaseMixin" virtual="true">
		<Size y="30"/>	
		<KeyValues>
			<KeyValue key="staticLabelFont" value="true" type="boolean"/>
		</KeyValues>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="Background" file="Interface\ACHIEVEMENTFRAME\UI-Achievement-RecentHeader" desaturated="true" alpha="0.75">
					<Anchors>
						<Anchor point="TOPLEFT" x="15" y="-5"/>
						<Anchor point="BOTTOMRIGHT" x="-20" y="5"/>
					</Anchors>
					<TexCoords bottom="0.75"/>
				</Texture>
			</Layer>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontHighlight" maxLines="1" justifyH="CENTER">
					<Anchors>
						<Anchor point="LEFT" x="15" y="2"/>
						<Anchor point="RIGHT" x="-15" y="2"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>
	
	<Frame name="WQT_SettingColorTemplate" mixin="WQT_SettingsColorMixin" virtual="true">
		<Size y="30"/>
		<HitRectInsets top="3" right="75" bottom="3" left="75"/>
	
		<Frames>
			<Button parentKey="Picker" inherits="UIMenuButtonStretchTemplate">
				<Size x="26" y="26"/>
				<Anchors>
					<Anchor point="LEFT" x="27" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<Texture parentKey="Color" atlas="LootBanner-IconGlow">
							<Size x="14" y="14"/>
							<Anchors>
								<Anchor point="CENTER"/>
							<!--
								<Anchor point="TOPLEFT" x="6" y="-6"/>
								<Anchor point="BOTTOMRIGHT" x="-6" y="6"/>
								-->
							</Anchors>
						</Texture>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave(self);
					</OnLeave>
					<OnClick> 
						self:GetParent():StartPicking();
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
					<OnMouseDown inherit="prepend">
						if (self:IsEnabled()) then
							self.Color:SetPoint("CENTER", self, 1, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (self:IsEnabled()) then
							self.Color:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
				</Scripts>		
				<HighlightTexture atlas="bags-glow-white" alphaMode="ADD" alpha="0.5">
					<Anchors>
						<Anchor point="TOPLEFT" x="3" y="-3"/>
						<Anchor point="BOTTOMRIGHT" x="-3" y="3"/>
					</Anchors>
				</HighlightTexture>
			</Button>
			
			<Button parentKey="ResetButton" inherits="UIMenuButtonStretchTemplate">
				<Size x="26" y="26"/>
				
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.Picker" relativePoint="RIGHT" x="5" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<Texture parentKey="Icon" atlas="soulbinds_tree_undo" alpha="0.75">
							<Size x="14" y="14"/>
							<Anchors>
								<Anchor point="CENTER"/>
							</Anchors>
						</Texture>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						GameTooltip:SetOwner(self, "ANCHOR_RIGHT");
						GameTooltip_SetTitle(GameTooltip, RESET_TO_DEFAULT);
						GameTooltip:Show();
					</OnEnter>
					<OnLeave>
						GameTooltip:Hide();
					</OnLeave>
					<OnClick> 
						self:GetParent():ResetColor(true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
					<OnMouseDown inherit="prepend">
						if (self:IsEnabled()) then
							self.Icon:SetPoint("CENTER", self, 1, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (self:IsEnabled()) then
							self.Icon:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
				</Scripts>		
				<HighlightTexture atlas="bags-glow-white" alphaMode="ADD" alpha="0.5">
					<Anchors>
						<Anchor point="TOPLEFT" x="3" y="-3"/>
						<Anchor point="BOTTOMRIGHT" x="-3" y="3"/>
					</Anchors>
				</HighlightTexture>
			</Button>
		</Frames>
		
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.ResetButton" relativePoint="RIGHT" x="10" y="0"/>
					</Anchors>
				</FontString>
				<FontString parentKey="ExampleText" inherits="GameFontWhite" maxLines="1" justifyH="LEFT" text="PREVIEW" hidden="true">
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.ResetButton" relativePoint="RIGHT" x="10" y="0"/>
					</Anchors>
				</FontString>	
			</Layer>
		</Layers>
		
		<Frames>
			<Button parentKey="ExampleRing" hidden="true">
				<Size x="25" y="25" />
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.ExampleText" relativePoint="RIGHT" x="10" y="0"/>
				</Anchors>
				<Layers>
					<Layer level="ARTWORK" textureSubLevel="-1">
						<!-- This serves as a background for the timer -->
						<Texture parentKey="RingBG" alpha="1" file="Interface\Addons\WorldQuestTab\Images\PoIRing" />
					</Layer>
					<Layer level="ARTWORK" textureSubLevel="2" >
						<!-- Edge highlight of the timer. Custom so it can be colored -->
						<Texture parentKey="Pointer" alpha="1" file="Interface\Addons\WorldQuestTab\Images\PoIRingPointer"/>
					</Layer>
				</Layers>
				<Frames>
					<Cooldown parentKey="Ring" useParentLevel="true" setAllPoints="true" hideCountdownNumbers="true">
						<SwipeTexture file="Interface\Addons\WorldQuestTab\Images\PoIRing"/>
					</Cooldown>
				</Frames>
			</Button>
		</Frames>
		
		<Scripts>
			<OnLoad method="OnLoad"/>
			<OnEnter>
				self:OnEnter(self.Label);
			</OnEnter>
			<OnLeave>
				self:OnLeave(self.Label);
			</OnLeave>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingDropDownTemplate" mixin="WQT_SettingsDropDownMixin" virtual="true">
		<Size y="55"/>	
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="TOPLEFT" x="30" y="-7"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingButtonTemplate" mixin="WQT_SettingsButtonMixin" virtual="true">
		<Size y="30"/>
		<Frames>
			<Button parentKey="Button" inherits="UIMenuButtonStretchTemplate">
				<Size  y="26"/>
				<Anchors>
					<Anchor point="LEFT" x="27" y="0"/>
					<Anchor point="RIGHT" x="-35" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="CENTER">
							<Size x="120" y="25"/>
							<Anchors>
								<Anchor point="CENTER" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave(self);
					</OnLeave>
					<OnMouseDown inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 2, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
					<OnClick> 
						self:GetParent():OnValueChanged(nil, true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
				</Scripts>		
				<HighlightTexture file="Interface\Buttons\UI-Silver-Button-Highlight" alphaMode="ADD" alpha="0.5">
					<TexCoords left="0" right="1.0" top="0.03" bottom="0.7175"/>
				</HighlightTexture>
			</Button>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingConfirmButtonTemplate" mixin="WQT_SettingsConfirmButtonMixin" virtual="true">
		<Size y="30"/>
		<Frames>
			<Button parentKey="Button" inherits="UIMenuButtonStretchTemplate">
				<Size  y="26"/>
				<Anchors>
					<Anchor point="LEFT" x="27" y="0"/>
					<Anchor point="RIGHT" x="-35" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="CENTER">
							<Size x="120" y="25"/>
							<Anchors>
								<Anchor point="CENTER" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave(self);
					</OnLeave>
					<OnMouseDown inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 2, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
					<OnClick> 
						self:GetParent():SetPickingState(true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
				</Scripts>		
				<HighlightTexture file="Interface\Buttons\UI-Silver-Button-Highlight" alphaMode="ADD" alpha="0.5">
					<TexCoords left="0" right="1.0" top="0.03" bottom="0.7175"/>
				</HighlightTexture>
			</Button>
			
			<Button parentKey="ButtonConfirm" inherits="UIMenuButtonStretchTemplate" hidden="true">
				<Size x="50" y="26"/>
				<Anchors>
					<Anchor point="LEFT" x="27" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="CENTER" text="YES">
							<Size x="120" y="25"/>
							<Anchors>
								<Anchor point="CENTER" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave(self);
					</OnLeave>
					<OnMouseDown inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 2, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
					<OnClick> 
						self:GetParent():OnValueChanged(true, true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
				</Scripts>		
				<HighlightTexture file="Interface\Buttons\UI-Silver-Button-Highlight" alphaMode="ADD" alpha="0.5">
					<TexCoords left="0" right="1.0" top="0.03" bottom="0.7175"/>
				</HighlightTexture>
			</Button>
			
			<Button parentKey="ButtonDecline" inherits="UIMenuButtonStretchTemplate" hidden="true">
				<Size x="50" y="26"/>
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.ButtonConfirm" relativePoint="RIGHT" x="5" y="0"/>
					<Anchor point="RIGHT" x="-35" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="CENTER" text="NO">
							<Size x="120" y="25"/>
							<Anchors>
								<Anchor point="CENTER" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave(self);
					</OnLeave>
					<OnMouseDown inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 2, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
					<OnClick> 
						self:GetParent():SetPickingState(false);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
				</Scripts>		
				<HighlightTexture file="Interface\Buttons\UI-Silver-Button-Highlight" alphaMode="ADD" alpha="0.5">
					<TexCoords left="0" right="1.0" top="0.03" bottom="0.7175"/>
				</HighlightTexture>
			</Button>
			
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingTextInputTemplate" mixin="WQT_SettingsTextInputMixin" virtual="true">
		<Size y="50"/>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="TOPLEFT" x="30" y="-7"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<EditBox parentKey="TextBox" inherits="InputBoxTemplate" autoFocus="false">
				<Size y="25"/>
				<HitRectInsets left="-10"/>
				<Anchors>
					<Anchor point="BOTTOMLEFT" x="35" y="5"/>
					<Anchor point="RIGHT" x="-35" />
				</Anchors>
				<FontString inherits="NumberFont_Shadow_Small"/>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter();
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
					<OnEnterPressed>
						self:ClearFocus();
					</OnEnterPressed>
					<OnEditFocusLost>
						self:GetParent():OnValueChanged(self:GetText(), true);
					</OnEditFocusLost>
				</Scripts>
			</EditBox>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingsFrame" parent="WQT_OverlayFrame" mixin="WQT_SettingsFrameMixin" hidden="true">
		<Size x="257" y="462" />
		<Frames>
			<ScrollFrame inherits="WQT_OverlayScrollFrameTemplate" parentKey="ScrollFrame">
				<Anchors>
					<Anchor point="TOPLEFT"/>
					<Anchor point="BOTTOMRIGHT" x="-20"/>
				</Anchors>
			</ScrollFrame>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
			<OnShow method="Refresh"/>
		</Scripts>
	</Frame>
 </Ui>